@{
    ViewData["Title"] = "Home Page";
}

<h1>Atrapa el Botón</h1>

<div class="info">
    <p id="time">Tiempo: </p>
    <p id="puntos">Puntos: </p>
</div>

<div class="container">
    <button class="button" id="bandera" disabled>
        :)
    </button>
</div>

<button class="button" id="inicio">
    INICIAR
</button>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="~/js/Model.js"></script>
    <script src="~/js/View.js"></script>
    <script src="~/js/Controller.js"></script>
}