@{
    ViewData["Title"] = "Home Page";
}

<h1>Atrapa el Botón</h1>
<div class="info">
    <p id="time">Tiempo: </p>
    <p id="puntos">Puntos: </p>
</div>
<div class="container">
    <button class="button" id="bandera" disabled>
        :)
    </button>
</div>
<button class="button" id="inicio">
    INICIAR
</button>