html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

* {
    box-sizing: border-box;
    color: white;
    font-family: "Press Start 2P", sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1{
  margin: 0;
}

.body{
  width: 100%;
  height: 100vh;
  background-color: #2B2C33;
  padding: 1%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2%;
  margin: 0;
}

.info{
  width: 30%;
  height: 10%;
  background-color: #323F96;
  border-radius: 20px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

.container{
  width: 30%;
  aspect-ratio: 1 / 1;
  background-color: #363D6B;
  border-radius: 20px;
  border: 2px solid black;
  position: relative;
}

.button{
  width: 30%;
  border: none;
  border-radius: 20px;
  padding: 1%;
  background-color: #323F96;
}

.button:hover{
  transition: 0.3s;
  background-color: #2035C0;
}

#bandera{
    position: absolute;
}